* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background: linear-gradient(to right bottom, green/*rgb(155,240,255)*/, black/*rgb(155,54,146)*/);
    
}

header {
    border-bottom: solid 3px rgba(91, 91, 91, 0.619);
}

header > a{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 150px;
    text-decoration: none;
}

header > a > p {
    color: rgb(158, 158, 158);
    font: bold 40pt arial, sans-serif;
    display: flex;
    align-items: center;
}

header > a > p:hover {
    color: rgb(112, 112, 112);
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-row-gap: 3px;
    grid-column-gap: 3px;
    align-items: center;
    justify-items: center;
}

.opcao {
    text-align: center;
    height: 200px;
    width: 200px;
    margin: 30px;
    border-radius: 5px;
    background-color: white;
    font: bold 18pt arial;
}

.opcao > a > img {
    margin-top: 25px;
    margin-bottom: 1px;
    height: 90px;
    width: 90px;

}

.opcao > a {
    text-decoration: none;
    color: rgb(115, 115, 115);
}

div.opcao:hover {
    box-shadow: 0 0 8px rgb(255, 255, 255);
}

footer {
    text-align: center;
}

#sair {
    margin-top: -200px;
    margin-bottom: 100px;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-size: 16pt;
    font-weight: bold;
    background-color: rgb(111, 111, 111);
    padding: 5px;
    border-radius: 5px;
}

#sair:hover {
    color: white;
    box-shadow: 0 0 15px white;
}

#autor {
    color: gray;
    font-size: 16pt;
    margin: 50px;
}